*{
    box-sizing: border-box;
    font-family: sans-serif;
}


.alert-info{
    text-align: center;
    background: #CBFEFF;
    padding: 1em;
    border: 1px solid gray;
}

.alert-info a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}



.nav-links{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}
.nav-links li{
    background: #CDCDCC;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-bottom: .50em;
}

img{
    width: 100%;
}

#main{
    margin-bottom: 3em;
}

.sub-section{
    margin-bottom: 4em;
    font-style: italic;
}

.sub-section h2{
    font-size: 1em;
}

@media (min-width: 961px){
    .alert-info{
        display: none;
    }
    h1{
        text-align: unset;
        display: inline-block;
        margin-right: auto;
    }
    nav{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 2.5em;

    }
    .nav-links{
        display: inline-flex;
        flex-direction: row;
    }
    .nav-links li{
        background: none;
        margin: 0;
    }
    .nav-links, h1{
        padding: 1em;
    }

    #main, .sub-section{
        float: left;
    }
    #main{
        width: 60%;
    }
    .sub-section{
        margin-left: 2em;
        width: calc(40% - 2em)
    }

}
